.container {
    color: #1F2D1F;
    font-family: 'Pretendard', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
}

.txt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main hr {
    margin: 100px 50px 0px 150px;
    width: 8px;
    height: 400px;
    background-color: #63825e;
}

.title {
    cursor: default;
    margin: 110px 0px;
}

.title p {
    margin: 8px 0px;
    color: #979797;
    font-size: 40px;
    font-weight: 600;
}

.title h1 {
    margin: 8px 0px;
    font-size: 85px;
    font-weight: 750;
}

.boldtxt {
    color: #63825e;
}

.btn {
    margin: 120px 0px;
    display: flex;
    flex-direction: row;
}

.joinbtn {
    display: block;
    margin: 30px 8px;
    padding: 20px 45px;
    border: none;
    border-radius: 50px;
    color: white;
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    background-color: #63825e;
}

.memberbtn {
    display: block;
    margin: 30px 8px;
    padding: 20px 45px;
    border: none;
    border-radius: 50px;
    color: black;
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    background-color: #E7E7E7;
}