#container {
    font-family: 'Pretendard', sans-serif;
}

.member {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.member-title {
    margin: 140px 0px 0px;
    padding: 10px 18px;
    color: white;
    font-family: "Lexend Deca";
    font-size: 35px;
    font-weight: 400;
    border-radius: 50px;
    background-color: #63825e;
}

.title {
    margin: 50px 0px 10px;
    font-size: 40px;
    font-weight: 600;
}

.description {
    margin: 0px 0px;
    font-size: 20px;
    font-weight: 300;
}

/* 프로필 */
.profile-margin {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-profile {
    display: flex;
    flex-direction: row;
}

.profile {
    margin: 15px 25px;
    padding: 25px 20px;
    width: 190px;
    height: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 0px 3px #ECECEC;
}

hr {
    margin: 20px 0px;
    width: 150px;
    height: 3px;
    border: none;
    background-color: #ECECEC;
}

.crown {
    position: absolute;
    top: -50px;
}

.spot {
    cursor: default;
    margin: 5px 0px;
    padding: 3px 8px;
    color: white;
    font-size: 15px;
    font-weight: 200;
    border-radius: 50px;
    background-color: #63825e;
}

.name {
    cursor: default;
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 300;
}

.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 말풍선 */
.speechbubble {
    display: none;
    position: absolute;
    top: -48px;
    background: white;
    color: black;
    padding: 13px 20px;
    border-radius: 20px;
    box-shadow: 0 0px 9px #23325622;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    z-index: 10;
}

.speechbubble::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}