.container {
    color: #1F2D1F;
    font-family: 'Pretendard', sans-serif;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgb(70, 73, 82, 0.3);
}

.nav-top {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    cursor: default;
    margin: 0 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo h1 {
    font-family: "Lexend Deca";
    font-size: 38px;
    color: #63825e;
}

.auth-buttons {
    margin: 0 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.signup-btn {
    border: none;
    color: #63825e;
    background-color: white;
}

.login-btn {
    padding: 8px 20px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #63825e;
}

.nav-bottom {
    display: flex;
    flex-direction: row;
}

.nav-menu {
    list-style: none;
    margin: 0 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav-menu li {
    position: relative;
    margin: 15px 25px;
    padding: 15px 25px;
    color: #A6A6A6;
    cursor: pointer;
    transition: letter-spacing 0.3s ease;
    z-index: 1;
}

.nav-menu li::before {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -25px;
    right: -25px;
    z-index: -1;
}