/* 네비게이터 밑줄 */
.nav-menu li {
    display: inline-block;
    position: relative;
    padding: 0px 0px;
    cursor: pointer;
}
.nav-menu li.underline::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #63825e;
    transition: width 0.3s ease, left 0.3s ease;
}
.nav-menu li.underline:hover::after {
    width: 170%;
    left: -30%;
}